extends base.pug

block content
  // ---------------INTRO-SECTION----------
  section.intro
    .heading
      h1 Welcome to 
        br
        | Modern Bakers
  // --------TODAYS SPECIAL SECTION------------
  section.ourSpecialities
    hr
    h1.heading.center Our Specialities
    hr
    .productCards
      .card
        img(src='../static/images/special1.png' alt='')
        .card-info
          h3.productName Pizza
          p Price:10$
          a.btn(href="/orderonline") Order now
      .card
        img(src='../static/images/special2.png' alt='')
        .card-info
          h3.productName Red Velvet Cake
          p Price:10$
          a.btn(href="/orderonline") Order now
      .card
        img(src='../static/images/special3.png' alt='')
        .card-info
          h3.productName Strawberry Cupcakes
          p Price:10$
          a.btn(href="/orderonline") Order now
      .card
        img(src='../static/images/special4.png' alt='')
        .card-info

          h3.productName Choco Cookies
          p Price:10$
          a.btn(href="/orderonline") Order now
      .card
        img(src='../static/images/special5.png' alt='')
        .card-info
          h3.productName Chocolate Cake
          p Price:10$
          a.btn(href="/orderonline") Add to cart
      .card
        img(src='../static/images/special6.png' alt='')
        .card-info
          h3.productName Chocolate Donut
          p Price:10$
          a.btn(href="/orderonline") Order now
  // ---------ABOUT SECTION---------
  section#about
    hr
    h1.heading.center About Us
    hr
    .aboutInfo
      h1.heading.left Who are we.......
      p
        | Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis accusamus quisquam tenetur id
        | reprehenderit, dolore dolor. Vel illo sed quasi ullam harum possimus voluptas aut, accusamus asperiores
        | optio molestiae veritatis eos esse ipsa incidunt maxime nisi officia cumque, saepe ducimus nostrum
        | debitis facilis adipisci? Sequi iste enim dolorem numquam itaque illum pariatur velit ab neque aliquam.
        | Eos ullam est animi, possimus voluptates inventore consequuntur repellendus odio rem expedita aliquid,
        | reiciendis quibusdam harum! Numquam rerum, facilis expedita fugit, deleniti, dolore quidem consequatur
        | explicabo accusamus doloribus placeat. Distinctio Lorem ipsum dolor, sit amet consectetur adipisicing
        | elit. Autem, architecto saepe! Voluptatem facere maxime in quasi neque mollitia aliquam doloribus. Ipsa
        | nihil mollitia rem architecto animi a, tempore commodi facilis     
  