<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <link rel="stylesheet" media="screen and (max-width:1060px)" href="../static/css/media.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=KoHo&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="logo">
                <a href="/">
                    <img src="../static/images/logo.png" alt="logo">
                </a>
            </div>
            <ul class="navigation-menu">
                <li class="menu-items"><a href="/">Home</a></li>
                <li class="menu-items"><a href="#about">About Us</a></li>
                <li class="menu-items"><a href="/">Order Online</a></li>
                <li class="menu-items"><a href="/">Our Stores</a></li>
                <li class="menu-items"><a href="/">Contact Us</a></li>
            </ul>
            <div class="search">
                <input type="text" placeholder="Search for products">
                <button id="search-btn">search</button>
            </div>
            <div class="navigation-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </nav>
    </header>
    <!-- ---------------INTRO-SECTION---------- -->
    <section class="intro">
        <div class="heading">
            <h1>Welcome to <br> Modern Bakers</h1>
        </div>
    </section>
    <!-- --------TODAYS SPECIAL SECTION------------ -->
    <section class="ourSpecialities">
        <hr>
        <h1 class="heading center">Our Specialities</h1>
        <hr>
        <div class="productCards">
            <div class="card">
                <img src="../static/images/special1.png" alt="">
                <div class="card-info">
                    <h3 class="productName">Pizza</h3>
                    <p>Price:10$</p>
                    <button class="btn">Add to cart</button>
                </div>
            </div>
            <div class="card">
                <img src="../static/images/special2.png" alt="">
                <div class="card-info">
                    <h3 class="productName">Red Velvet Cake</h3>
                    <p>Price:10$</p>
                    <button class="btn">Add to cart</button>
                </div>
            </div>
            <div class="card">
                <img src="../static/images/special3.png" alt="">
                <div class="card-info">
                    <h3 class="productName">Strawberry Cupcakes</h3>
                    <p>Price:10$</p>
                    <button class="btn">Add to cart</button>
                </div>
            </div>
            <div class="card">
                <img src="../static/images/special4.png" alt="">
                <div class="card-info">
                    <h3 class="productName">Choco Cookies</h3>
                    <p>Price:10$</p>
                    <button class="btn">Add to cart</button>
                </div>
            </div>
            <div class="card">
                <img src="../static/images/special5.png" alt="">
                <div class="card-info">
                    <h3 class="productName">Chocolate Cake</h3>
                    <p>Price:10$</p>
                    <button class="btn">Add to cart</button>
                </div>
            </div>
            <div class="card">
                <img src="../static/images/special6.png" alt="">
                <div class="card-info">
                    <h3 class="productName">Chocolate Donut</h3>
                    <p>Price:10$</p>
                    <button class="btn">Add to cart</button>
                </div>
            </div>
        </div>
    </section>
    <!-- ---------ABOUT SECTION--------- -->
    <section id="about">
        <hr>
        <h1 class="heading center">About Us</h1>
        <hr>
        <div class="aboutInfo">
            <h1 class="heading left">Who are we.......</h1>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis accusamus quisquam tenetur id
                reprehenderit, dolore dolor. Vel illo sed quasi ullam harum possimus voluptas aut, accusamus asperiores
                optio molestiae veritatis eos esse ipsa incidunt maxime nisi officia cumque, saepe ducimus nostrum
                debitis facilis adipisci? Sequi iste enim dolorem numquam itaque illum pariatur velit ab neque aliquam.
                Eos ullam est animi, possimus voluptates inventore consequuntur repellendus odio rem expedita aliquid,
                reiciendis quibusdam harum! Numquam rerum, facilis expedita fugit, deleniti, dolore quidem consequatur
                explicabo accusamus doloribus placeat. Distinctio Lorem ipsum dolor, sit amet consectetur adipisicing
                elit. Autem, architecto saepe! Voluptatem facere maxime in quasi neque mollitia aliquam doloribus. Ipsa
                nihil mollitia rem architecto animi a, tempore commodi facilis </p>
        </div>
    </section>
    <footer>
        <div class="footerContent">
            <div class="logo footerlogo">
                <a href="/">
                    <img src="../static/images/logo.png" alt="logo">
                </a>
            </div>
            <div class="footerMain">
                <ul>
                    <h1 class="heading left">Our Products</h1>
                    <li><a href="">Cakes</a></li>
                    <li><a href="">Pizzas</a></li>
                    <li><a href="">Red velvet Cakes</a></li>
                    <li><a href="">Cupcakes</a></li>
                    <li><a href="">Pasteries</a></li>
                    <li><a href="">Choco cookies</a></li>
                </ul>
                <ul>
                    <h1 class="heading left">Our Services</h1>
                    <li><a href="">Weddings</a></li>
                    <li><a href="">Event Management</a></li>
                    <li><a href="">Birthdays</a></li>
                    <li><a href="">Anniversary</a></li>
                    <li><a href="">Parties</a></li>
                </ul>
                <ul>
                    <li><h1 class="heading left">Contact Us</h1></li>
                    <li><a href="">Weddings</a></li>
                    <li><a href="">Event Management</a></li>
                    <li><a href="">Birthdays</a></li>
                    <li><a href="">Anniversary</a></li>
                    <li><a href="">Parties</a></li>
                </ul>
                
            </div>

            <div class="socialMedia">
                <div class="iconWrapper"><a href="https://facebook.com"><img src="../static/images/facebook.png"
                            alt=""></a></div>
                <div class="iconWrapper"><a href="https://instagram.com"><img src="../static/images/instagram.png"
                            alt=""></a></div>
                <div class="iconWrapper"><a href="https://twitter.com"><img src="../static/images/twitter.png"
                            alt=""></a></div>
                <div class="iconWrapper"><a href="https://email@gmail.com"><img src="../static/images/email.png"
                            alt=""></a></div>
            </div>
        </div>
        <div class="copyright center">
            <p>Copyright &copy; | www.modernbakers.com | All rights reserved</p>
        </div>
    </footer>
    <script src="../static/js/client.js"></script>
</body>

</html>