
/* ---------------STYLE SHEET FOR LOGIN SIGNUP AND ORDER------------- */
#loginForm{
    background: linear-gradient(to top, var(--secondary-color), var(--background-color));
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 1rem;
    color: var(--primary-color);
    font-weight: 600;
}
.loginDetail{
    display: flex;
    flex-direction: column;
    margin: 8px 0;
}

.loginDetail input, select#order, select#quantity{
    height: 30px;
    padding: 2px 5px;
    margin-top: 3px;
    font-size: 1rem;
}

select#order{
    cursor: pointer;
}
.message, .message a{
    color: var(--primary-color);
}


